.ipynb_checkpoinys
.vscode

checkpoint/D1/*
checkpoint/D2/*
checkpoint/F/*
checkpoint/G/*

data/00_Normal/*
data/01_Fire/*
data/02_Water/*
data/03_Electric/*
data/04_Grass/*
data/05_Ice/*
data/06_Psychic/*
data/07_Fighting/*
data/08_Poison/*
data/09_Ground/*
data/10_Flying/*
data/11_Bug/*
data/12_Rock/*
data/13_Ghost/*
data/14_Dragon/*
data/15_Dark/*
data/16_Steel/*
data/17_Fairy/*

output/figure/*
output/log/*
output/pred_val_a_to_b/*
output/pred_val_b_to_a/*

__pycache__/

!.gitkeep
